parameters:
  level: 5
  paths:
    - src
    - tests
  excludePaths:
    - src/Commands
    - src/DnsCheckerServiceProvider.php
    - src/Facades
  tmpDir: .phpstan
  reportUnmatchedIgnoredErrors: true
