name: Tests

on:
  pull_request:
  push:
    branches: [main]
    tags:
      - "v*"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ["8.1", "8.3"]
        netdns2: ["^1.5.5", "^2.0"]
    name: PHP ${{ matrix.php }} / netdns2 ${{ matrix.netdns2 }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer require --no-interaction --no-update pear/net_dns2:"${{ matrix.netdns2 }}"
          composer update -W --no-interaction --no-progress --prefer-dist

      - name: Pest
        run: composer test

